<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".get_help_rails" %>
  <%= link_to (t ".page_help"), Settings.link.railstutorial.help %>.
  <%= t ".to_get_help" %>
  <em><%= link_to (t ".tutorial_book"), Settings.link.railstutorial.book %></em>.
</p>
